---
const today = new Date();
---

<footer class="mt-16 ml-8 mr-10 flex items-center justify-between py-6 text-xs text-body border-t border-gray-300">
  <div class="flex flex-col">
    <span class="font-medium text-title">Dominic Petrut</span>
    <span>&copy; {today.getFullYear()} All rights reserved.</span>
  </div>

  
    <a href="mailto:dompetrut@gmail.com"
    class="text-body transition duration-150 ease-in-out hover:text-accent hover:underline underline-offset-4"
  >
    Contact me
  </a>
</footer>